@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #1e2124;
    --secondary-color: #fa253b;
    --third-color: #282b30;
}

html {
    scroll-behavior: smooth;
    color: white;
    background-color: var(--primary-color);
}

.background-primary-color{
    background-color: var(--primary-color);
}

text-primary-color{
    color: var(--primary-color);
}

.background-secondary-color{
    background-color: var(--secondary-color);
}

.text-secondary-color {
    color: var(--secondary-color);
}

.background-third-color{
    background-color: var(--third-color);
}


.min-content-page-height {
    min-height: 87.5vh;
}

.button {
    padding: 10px 15px;
    background: rgb(202, 7, 103);
    background: linear-gradient(90deg, rgba(202, 7, 103, 1) 28%, rgba(250, 37, 59, 1) 100%);
    border: none;
    cursor: pointer;
    transform: skew(-15deg);
    overflow: hidden;
    width: 8vw;
}

.button-text {
    display: block;
    transform: skew(15deg);
    color: white;
    font-weight: bold;
}

@font-face {
    font-family: 'mexcellent';
    src: url('assets/fonts/mexcellent_3d.otf') format('opentype');
}

.neon-font {
    font-family: 'mexcellent', sans-serif;
}